* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background-color: navy;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

h1 {
  font-size: 25px;
  color: whitesmoke;
}
